{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'js/slide-bar.js' %}">
<link rel="stylesheet" href="{% static 'css/signup_login.css' %}">
<link rel="stylesheet" href="{% static 'css/playlist_creation_and_user_panel_style.css' %}">
<link rel="stylesheet" href="{% static 'css/history_styles.css' %}">
{#<link rel="stylesheet" href="{% static 'css/posting_page_styles.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/playlist-detail-style' %}">#}
