{% extends 'base.html' %}
{% load static %}
{% block title %}Channel{% endblock %}
{% block content %}
    <div class="user-panel">
    {% if request.user.is_authenticated %}
        {% if request.user.id == channel_info.id  %}
        	<div class="quick-links">
                <div class="links-header">Quick Access</div>
                <ul class="links-list">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'playlist-create-page' slug=channel_info.slug %}">Playlist Creation</a></li>
                    <li><a href="{% url 'user-panel-page' slug=channel_info.slug %}">User panel</a></li>
                </ul>
            </div>
        {% endif %}
    {% endif %} 
    
        <div>
            <section class="channel-content">
            <div class="channel">
              <div class="channel-banner-image">
                  <img class="channel-banner-image" src="{{ channel_info.channel_banner.url }}" alt="">
              </div>
              <div class="channel-details">
                  <div class="png">
                      <img class="png" src="{{ channel_info.profile_picture.url }}" alt="">
                  </div>
                  <div><h2 class="subscribers">{{ channel_info.username }}</h2>
                      <p>1.92M subscribers</p>
                  </div>
                  <div class="button-bell">
                    <a href="#" class="btn">
                    <i class="fab fa-facebook-square">
                    </i>SUBSCRIBED</a>
                    <button class="bell">🔔</button>
                  </div>
              </div>
              <div class="channel-navbar">
                <ul>
                    <a href="{% url 'channel-home-page' slug=channel_info.slug %}"><li>HOME</li></a>
                    <a href=""><li>VIDEOS</li></a>
                    <a href=""><li>PLAYLIST</li></a>
                    <a href=""><li>COMMUNITY</li></a>
                    <a href=""><li>CHANNELS</li></a>
                    <a href=""><li>ABOUT</li></a>
                </ul>
              </div>
            </div>
    
            <div class="videos">
    
                    <div class="list-container">
                        {% for channel_post in channel_posts %}
                        <div class="vid-list">
                            <a href="{% url 'post_detail_page' slug=channel_post.slug %}"><img src="{{ channel_post.thumbnail.url }}" class="thumbnail"></a>
                            <div class="flex-div">
                                <img src="">
                                <div class="vid-info">
                                    <a href="{% url 'post_detail_page' slug=channel_post.slug %}">{{ channel_post.title }}</a>
                                    <p>{{ channel_post.channel.username }}</p>
                                    <p>{{ channel_post.postviews_set.count }} Views • {{ channel_post.created_date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
    
    
            </div>
        </section>
        </div>
{% endblock %}
