{% extends 'base.html' %}
{% load static %}
{% block header_references %}
	<link rel="stylesheet" href="{% static 'css/posting_page_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %}
	Posting
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
    	<div class="post-creation-container">
        <header class="post-creation-page-header">
            <h1>Delete Playlist</h1>
            <p>Delete your content with one click.</p>
        </header>
        <main>
            <form id="upload-form" action="{% url 'delete_post_page' slug=slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="button-container">
                    <button type="submit">Delete</button>
                    <a href="{% url 'home_page' %}">Cancel</a>
                </div>
            </form>
        </main>
    </div>
    {% else %}
        <p class="login-link-in-post-creation">please <a href="{% url 'login-page' %}">login</a></p>
    {% endif %} 
    
	
{% endblock %}