{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}
<div class="container">
    <div class="banner">
        <img src="{% static 'images/banner.png' %}" alt="" srcset="">
    </div>
    <h1 class="section-label">Latest Posts</h1>
    <hr>
    <div class="list-container">
        {% for post in posts %}
            <div class="vid-list">
               <a href="{% url 'post_detail_page' slug=post.slug %}"> <img src="{{ post.thumbnail.url }}" class="thumbnail"></a>
               <div class="flex-div">
                   <a href="{% url 'channel-home-page' slug=post.channel.slug %}"><img src="{{ post.channel.profile_picture.url }}"></a>
                   <div class="vid-info">
                       <a href="{% url 'post_detail_page' slug=post.slug %}">{{ post.title }}</a>
                       <a href="{% url 'channel-home-page' slug=post.channel.slug %}"><p>{{ post.channel.username }}</p></a>
                       {% if posts.postviews_set.count == 0  %}
                           <p>No Views Yet</p>
                       {% else %}
                           <p>{{ post.postviews_set.count }} Views •   {{ post.created_date|timesince }} ago</p>
                       {% endif %}

                   </div>
               </div>
           </div>
        {% endfor %}
    </div>

    <h1 class="section-label">Most Viewed Posts</h1>
    <hr>
    <div class="list-container">
            {% for most_viewed_post in most_viewed_posts %}
                <div class="vid-list">
                   <a href="{% url 'post_detail_page' slug=most_viewed_post.slug %}"> <img src="{{ most_viewed_post.thumbnail.url }}" class="thumbnail"></a>
                   <div class="flex-div">
                       <img src="{{ most_viewed_post.channel.profile_picture.url }}">
                       <div class="vid-info">
                           <a href="{% url 'post_detail_page' slug=most_viewed_post.slug %}">{{ most_viewed_post.title }}</a>
                           <p>{{ post.channel.username }}</p>
                           {% if most_viewed_post.postviews_set.count == 0  %}
                               <p>No Views Yet</p>
                           {% else %}
                               <p>{{ most_viewed_post.postviews_set.count }} Views • {{ most_viewed_post.created_date|timesince }} Ago</p>
                           {% endif %}

                       </div>
                   </div>
               </div>
            {% endfor %}
    </div>
    
    <h1 class="section-label">Playlists</h1>
    <hr>
    <div class="playlist">
        {% for playlist in playlists %}
            <div>
                <a href="{% url 'playlist_detail_page' slug=playlist.slug video_slug=playlist.video.first.slug %}">
                    <div class="rectangle_wrapper">
                    <div class="rectangle1"></div>
                    <div class="rectangle2"></div>
                    <img src="{{ playlist.thumbnail_url }}" class="rectangle3">
                    </div>
                </a>

                <div class="flex-div">
                    <img src="">
                    <div class="vid-info">
                        <a href="{% url 'playlist_detail_page' slug=playlist.slug video_slug=playlist.video.first.slug %}">{{ playlist.title }}</a>
                        <p>{{ playlist.channel.username }}</p>
                        <p>2 Views • 2 days ago</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
