{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="main">
		<div class="signup">
                    <label for="chk" aria-hidden="true">Sign up</label>
            <form method="post" action="{% url 'sign_up' %}">
                    {% csrf_token %}
                    {{ register_form.email }}
                    {{ register_form.username }}
                    {{ register_form.password }}
					<button class="signup-login-btn">Sign up</button>
                    <a class="login-link" href="{% url 'login-page' %}">I already have account</a>
				</form>
		</div>
</div>
{% endblock %}